---
import BaseLayout from '../layouts/BaseLayout.astro';
import ImageMoi from '../images/moi.png';
import ImageMoiCartoon from '../images/moi_cartoon.png';

const pageTitle = "À propos de moi";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Rédactrice technique",
  hobbies: ["photographie", "observation des oiseaux", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rédaction de documentation"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";


---
<BaseLayout pageTitle={pageTitle}>

  <div id="mainlogo">
    <img class="logobottom" src={ImageMoi.src} width="240" />
    <img class="logotop" src={ImageMoiCartoon.src} width="240"/>
  </div>
  <a href="#hero">Les dernières nouvelles</a>
    <h2>... et de mon nouveau site Astro !</h2>

    <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>

    <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>

	<p>Voici quelques faits me concernant :</p>
<ul>
  <li>Je m'appelle {identity.firstName}.</li>
  <li>Je vis au {identity.country} et je travaille en tant que {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
  }
</ul>
<p>Voici mes compétences :</p>
<ul>
{skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

{happy && <p>Je suis heureux d'apprendre Astro !</p>}

{finished && <p>J'ai terminé ce tutoriel !</p>}

{goal === 3 ? <p>Mon objectif est de terminer en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours.</p>}
<section id="dernieres-nouvelles">

  <h2>Dernières nouvelles</h2>
  <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
  <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
</section>
<section id="dernieres-nouvesqslles">

  <h2>Dernières nouvelles</h2>
  <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
  <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
</section>
<section id="dernieres-nouveqslles">

  <h2>Dernières nouvelles</h2>
  <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
  <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
</section>
<section id="dernieres-nouvelleddds">

  <h2>Dernières nouvelles</h2>
  <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
  <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
</section>
<section class="scrolling-section hero" id="hero">
  <h2>Mes compétences</h2>
  <p>Voici mes compétences :</p>
  <ul>
    {skills.map((skill) => <li class="card">{skill}</li>)}
  </ul>
  
<style is:global define:vars={{skillColor}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
	    .skill {
    color: var(--skillColor);
    font-weight: bold;
  }

  html{
    scroll-behavior: smooth;
  }
    </style>

    <script> 
    
    import { animate, stagger, inView } from "motion";

inView(
  ".scrolling-section",
  (element) => {
    animate(element, { opacity: [0, 1], y: [50, 0] }, { ease: [0.39, 0.24, 0.3, 1], duration: 1 });

    const cards = element.querySelectorAll(".card");
    if (cards.length > 0) {
      animate(cards, { opacity: [0, 1], y: [25, 0] }, { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) });
    }
  },
  { amount: 0.25 }
);
    </script>
</BaseLayout>